<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>The GYM APP</h2>
    <h3>By Bipin Rimal</h3>
    <a href="/workouts" class="btn">View Workouts</a>
  </div>
</header>

<%- include('partials/footer'); -%>
